@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
}

.header {
    /* border: 2px solid red; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    display: flex;
    z-index: 100;
    background-color: black;
}

.header__a {
    /* border: 2px solid red; */
    width: auto;
    height: 27px;
    cursor: pointer;
    font-weight: 800;
    margin-right: auto;
    transform: translateX(-80px);
}

.header__a1 {
    /* border: 2px solid blue; */
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header__right {
    /* border: 2px solid blue; */
    position: relative;
    flex: 0 0 auto;
    width: auto;
    height: 6%;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    transform: translateX(105px);
    display: flex;
    flex-direction: column;
}

.enlace-con-linea {
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    margin: 0px 15px;
    position: relative;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease;
}

.enlace-con-linea::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.enlace-con-linea:hover::after {
    width: 100%;
}

.header__p {
    /* border: 2px solid red; */
    background-color: black;
    top: 0;
    left: 0;
    transform: translate(-5px, 0px);
    width: 100.4%;
    height: 125vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.header__p1 {
    /* border: 2px solid blue; */
    color: white;
    width: 550px;
    font-size: 18px;
    line-height: 1.5rem;
    transform: translate(10px, -109px);
    font-weight: 400;
}

.image-container {
    position: relative;
    display: inline-block;
    transform: translate(14px, -275px);
    width: 98%;
}

.image-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    /* Ajusta la altura del difuminado según tus preferencias */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    pointer-events: none;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -235%);
    z-index: 2;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 202px;
    letter-spacing: -10px;
    transition: color 1s;
}

.overlay-text:hover {
    color: rgb(53, 52, 52);
    transition: 2s;
}

.footer {
    background-color: white;
    height: 90vh;
    width: 100%;
}

.footer__p {
    width: 30%;
    transform: translateY(150px);
    margin: 0 auto;
    text-align: center;
}

.footer__h1 {
    font-weight: 800;
    line-height: 30px;
    transition: 5s;
}

.footer__h1:hover {
    transform: scale(1.1);
}

.footer__nav {
    position: relative;
    flex: 0 0 auto;
    width: 71%;
    height: 6%;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    transform: translateY(280px);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.footer-con-linea {
    color: black;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    margin: 0px 15px;
    position: relative;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease;
}

.footer-con-linea::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
}

.footer-con-linea:hover::after {
    width: 100%;
}

.footer__copy {
    font-weight: 800;
    font-size: 10px;
    display: flex;
    justify-content: center;
    transform: translateY(325px);
}

.conectar__grid {
    display: flex;
    width: 80%;
    margin: 10px;
}

.color-button {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border: 1px solid;
    width: 20%;
    height: 15px;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}


.color-button:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

.color-button input[type="radio"] {
    display: none;
}

.conectar__coment {
    border: 1px solid black;
    width: 95%;
    height: 150px;
    border-radius: 10px;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    margin: 10px;
}

::placeholder {
    margin: 10px;
    padding: 1rem;
    color: black;
}

.conectar__info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 95%;
    height: 50px;
}

.conectar__nombre {
    border: 1px solid black;
    width: 320px;
    height: 50px;
    margin: 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
}

.conectar__email {
    border: 1px solid black;
    width: 95%;
    height: 50px;
    margin: 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
}

.conectar__enviar {
    background-color: black;
    border: 1px solid black;
    margin: 10px;
    width: 25%;
    height: 70px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
}

.conectar__enviar:hover {
    transition: 0.5s;
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.conectar__span {
    margin: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conectar__h1 {
    font-size: 95px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: -5px;
    padding-top: 1rem;
    line-height: 0.9;
}


.impacto__div {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 227vh;
    transform: translateY(-10rem);
    background-color: black;
}

.image-container__impacto {
    position: relative;
    overflow: hidden;
    width: 100%;
    transform: translateY(-210px);
    height: 255vh;
}

.image-container__impacto img {
    display: block;
    width: 1305px;
    transform: translate(20px, 15rem);
    height: 205vh;
    object-fit: cover;
}

.image-title__impacto {
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translate(-51%, 53%);
    text-align: center;
    color: white;
    font-size: 195px;
    padding: 10px;
    font-weight: 900;
    line-height: 160px;
    text-transform: uppercase;
}


.image-container__programacion {
    position: relative;
    /* Establece el contenedor como referencia para el posicionamiento */
    width: 300px;
    /* Ajusta el ancho según tus necesidades */
}

.image-title__programacion {
    position: absolute;
    /* Posiciona el título de forma absoluta dentro del contenedor */
    top: 50%;
    /* Ajusta la distancia desde la parte superior del contenedor */
    left: 50%;
    /* Ajusta la distancia desde el lado izquierdo del contenedor */
    transform: translate(-50%, -50%);
    /* Centra el título tanto horizontal como verticalmente */
    background-color: rgba(0, 0, 0, 0.7);
    /* Agrega un fondo semi-transparente al título */
    color: white;
    /* Cambia el color del texto del título */
    padding: 10px;
    /* Agrega un espacio interno alrededor del título */
}

.acerca-de__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
}

.acerca-de__h1 {
    text-align: center;
    width: 70%;
    padding-top: 1rem;
}

.acerca-de__h1- {
    font-size: 80px;
    font-weight: 900;
    line-height: 75px
}

.acerca-de__divP {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 70vh;
    padding: 1rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
    transform: translateX(-5px);
    width: 100%;
}

.acerca-de__p {
    color: white;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 25px;
    text-align: center;
}

.acerca-de__divP1 {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 1rem
}

.acerca-de__p1 {
    width: 46%;
    font-size: 20px;
    font-weight: 400
}

.asoc__img {
    filter: grayscale(100%);
    transform: translateX(0px);
    width: 100%;
}

.asoc__back {
    background-color: black;
    transform: translate(0px, -32px);
    width: 100%;
    height: 360vh;
}

.asoc__p {
    color: white;

    width: 55%;
    margin: 10px;
    padding: 5rem;
    font-size: 20px;
}

.asoc__grid {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 2rem;
    grid-column-gap: 25px;
    margin: 2rem;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 25px;
}

.asoc__divImg {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.asoc__p2 {
    color: white;
    width: 45%;
    margin: 10px;
    padding: 5rem;
    font-size: 22px;
}

.donar__button {
    position: relative;
    border: none;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    margin-bottom: 5px;
    display: flex;
    margin: 10px;
    width: 17%;
}

.donar__button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 20px;
    width: 20px;
    /* Ancho de la línea */
    height: 5px;
    /* Altura igual al texto */
    background-color: black;
    opacity: 0;
    /* Inicialmente invisible */
    transition: opacity 0.3s, width 0.3s;
    /* Transiciones suaves */
}

.donar__button:hover::before {
    opacity: 1;
    width: 100%;
}

.donar__button1 {
    position: relative;
    border: none;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    margin-bottom: 5px;
    display: flex;
    margin: 10px;
    width: 5.5%;
    color: white;
}

.donar__button1::before {
    content: "";
    position: absolute;
    left: 0;
    top: 20px;
    width: 20px;
    /* Ancho de la línea */
    height: 5px;
    /* Altura igual al texto */
    background-color: white;
    opacity: 0;
    /* Inicialmente invisible */
    transition: opacity 0.3s, width 0.3s;
    /* Transiciones suaves */
}

.donar__button1:hover::before {
    opacity: 1;
    width: 100%;
}

.donar__grid {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.donarText__div {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px;
}

.donarText__h3 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 32px;
    margin: 10px;
}

.donarText__p {
    font-size: 19px;
    font-weight: 400;
    margin: 10px
}

.donar__img {
    width: auto;
    padding: 1rem;
    height: 601px
}

.donar__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.donar__grid1 {
    padding: 6rem 1rem 1rem;
    width: 82%;
    font-weight: 900;
    color: white;
    font-size: 90px;
    text-align: center;
    margin: 10px;
    line-height: 90px;
}

.donar__p {
    width: 60%;
    color: white;
    font-size: 20px;
    margin: 10px;
    padding: 1rem;
}

.donar__grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 1rem;
    margin: 10px;
}

.donar__grid2--margin {
    padding: 1rem;
    margin: 10px
}

.donar__h1 {
    padding: 1rem;
    color: white;
    font-weight: 900;
    width: 95%;
    font-size: 30px;
}

.scroll-button {
    position: fixed;
    bottom: 15px;
    right: 10px;
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 25px;
    cursor: pointer;
}

.programm__button {
    border-radius: 10px;
    width: 17%;
    height: 36px;
    background-color: gray;
    color: white;
    font-weight: 900;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
}

.programm__p {
    width: 74%;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    padding: 2rem 1rem;
}

.programm__h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    width: 74%;
    font-size: 88px;
    line-height: 83px;
}

.programm__flex {
    display: flex;
    justify-content: center;
    padding: 3rem 1rem;
    color: black;
    align-items: center;
    flex-direction: column;
}

.two-column-layout {
    display: flex;
}

.category-column {
    flex: 1;
    padding: 2rem;
    line-height: 50px;
}

.courses-column {
    flex: 2;
    padding: 20px;
}

.highlighted-course {
    color: black;
    font-weight: bold;
    transform: scale(1.01);
    transition: 1s;
}

.course {
    padding: 10px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 35px;
    display: flex;
    justify-content: space-between;
}

.programm__li {
    color: rgb(65, 64, 64);
    list-style-type: none;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 55px;
    letter-spacing: -4px;
    transition: 1s;
}

.programm__li:hover {
    color: black;
}

.evento__button {
    position: relative;
    border: none;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    margin-bottom: 5px;
    display: flex;
    margin: 10px;
    width: 33%;
}

.evento__button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 20px;
    width: 20px;
    /* Ancho de la línea */
    height: 5px;
    /* Altura igual al texto */
    background-color: black;
    opacity: 0;
    /* Inicialmente invisible */
    transition: opacity 0.3s, width 0.3s;
    /* Transiciones suaves */
}

.evento__button:hover::before {
    opacity: 1;
    width: 100%;
}

.eventos {
    margin: 0 auto;
    width: 65%;
    padding: 10rem 1rem 1rem
}

.eventos__p {
    text-align: center;
    font-size: 20px
}

.eventos__grid {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
}

.eventos__grid--block {
    width: 100%;
    height: 95%;
    margin: 10px;
    padding: 1rem;

}

.eventos__img {
    width: 100%;
    height: 94vh;
    object-fit: cover
}

.eventos__h5 {
    margin-top: 10px;
    font-weight: 900;
    font-size: 13px;
}

.eventos__h2 {
    font-weight: 800;
    text-transform: uppercase;
    margin: 10px;
}

.eventos__p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
    color: black;
    text-align: start;
}

.eventos__grid2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.eventos__img1 {
    padding: 1rem;
    margin: 10px
}

.eventos__flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.impacto__p {
    color: white;
    width: 63%;
    text-align: justify;
    font-size: 21px;
    margin: 10px;
    padding: 9rem;
}

.impacto__p1 {
    color: black;
    width: 63%;
    text-align: justify;
    font-size: 21px;
    margin: 10px;
    padding: 9rem;
}

.courses-ul {
    list-style-type: none;
}

.conectar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.button-container {
    position: relative;
    display: none;
}

button {
    margin: 10px;
    padding: 5px 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.items-container {
    display: none;
    position: absolute;
    top: 40px;
    left: 0%;
    transform: translateX(-100px);
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}

.button-container:hover .items-container {
    display: flex;
}

@media(max-width: 430px) {

    /*  */
    .button-container {
        display: block;
        display: flex;
        justify-content: flex-end;
        margin: 10px;
    }

    /*  */

    .header {
        width: 100%;
    }

    .header__right {
        display: none;
    }

    .header__p {
        width: 100%;
        transform: translate(0px, 0px);
    }

    .header__a {
        transform: translate(-20px, 20px);
    }

    .header__p1 {
        color: white;
        width: 96%;
        transform: translate(0px, -109px);
    }

    .overlay-text {
        transform: translate(-51%, -235%);
        font-weight: 800;
        font-size: 46px;
        letter-spacing: -2px;
    }

    .image-container {
        transform: translate(8px, -275px);
        width: 95%;
    }



    .acerca-de__h1- {
        font-size: 24px;
        padding-bottom: 1rem;
        line-height: 30px;
    }

    .acerca-de__divP {
        width: 101.5%;
    }

    .acerca-de__p {
        font-size: 13px;
    }

    .acerca-de__p1 {
        width: 100%;
        font-size: 20px;
        font-weight: 400;
    }

    .asoc__back {
        background-color: black;
        transform: translate(-7px, -21px);
        width: 102.1%;
        height: 360vh;
    }

    .asoc__p {
        width: 100%;
        padding: 1rem;
        font-size: 10px;
    }

    .asoc__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .asoc__p2 {
        color: white;
        width: 100%;
        margin: 10px;
        padding: 1rem;
        font-size: 19px;
    }

    .image-container__impacto img {
        width: 100%;
        display: flex;
        transform: translate(0px, 15rem);
    }

    .image-title__impacto {
        transform: translate(-50%, 194%);
        font-size: 52px;
        line-height: 47px;
    }

    .image-container__impacto {
        width: 94%;
    }

    .donar__grid1 {
        width: 100%;
        font-size: 25px;
        line-height: 30px;
    }

    .donar__h1 {
        padding: 1rem;
        color: white;
        font-weight: 900;
        width: 100%;
        font-size: 14px;
    }

    .programm__h1 {
        width: 100%;
        font-size: 25px;
        line-height: 27px;
    }

    .programm__p {
        width: 100%;
    }

    .category-column {
        width: 100%;
    }

    .programm__li {
        font-size: 40px;
        letter-spacing: -3px;
    }

    .scroll-button {
        font-size: 20px;
    }

    .course {
        font-size: 20px;
    }

    .programm__button {
        width: 40%;
    }

    .eventos {
        margin: 0 auto;
        width: 100%;
        padding: 10rem 1rem 1rem;
    }

    .impacto__p {
        width: 100%;
        text-align: inherit;
        padding: 1rem;
    }

    .impacto__p1 {
        width: 100%;
        text-align: inherit;
        padding: 1rem;
    }

    .donar__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .donar__img {
        width: 100%;
        height: auto;
    }

    .donar__p {
        width: 100%;
    }

    .donar__button1 {
        width: 25%;
    }

    .donar__grid2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .two-column-layout {
        display: grid;
    }

    .category-column {
        width: 100%;
        padding: 2rem 0;
    }

    .courses-column {
        width: 100%;
        padding: 1rem 0;
    }

    .courses-ul {
        padding: 0;
    }

    .eventos__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .evento__button {
        width: 100%;
    }

    .eventos__grid2 {
        display: grid;
        grid-template-columns: 2fr;
    }

    .conectar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .conectar__span {
        display: flex;
        justify-content: flex-start;
    }

    .conectar__h1 {
        font-size: 50px;
        letter-spacing: -1px;
        width: 92%;
    }

    .conectar__grid {
        display: grid;
        width: 92%;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .color-button {
        width: 90%;
    }

    .conectar__coment {
        width: 90%;
    }

    .conectar__info {
        display: grid;
        grid-template-columns: 1fr;
        width: 94%;
        height: 26vh;
    }

    .conectar__nombre {
        width: 270px;
    }

    .conectar__email {
        width: 285px;
    }

    .conectar__enviar {
        width: 35%;
    }

    .footer__p {
        width: 100%;
    }

    .footer__copy {
        transform: translateY(265px);
    }

    .footer__nav nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .footer__nav {
        width: 75%;
        height: 28vh;
        transform: translateY(-18px, 165px);
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 430px) and (max-width: 460px) {
    .overlay-text {
        font-size: 75px;
        transform: translate(-52%, -210%);
    }

    .button-container {
        display: block;
        display: flex;
        justify-content: flex-end;
        margin: 10px;
    }

    /*  */

    .header {
        width: 100%;
    }

    .header__right {
        display: none;
    }

    .header__p {
        width: 100%;
        transform: translate(0px, 0px);
    }

    .header__a {
        transform: translate(-20px, 20px);
    }

    .header__p1 {
        color: white;
        width: 96%;
        transform: translate(0px, -109px);
    }

    .image-container {
        transform: translate(4px, -200px);
    }



    .acerca-de__h1- {
        font-size: 24px;
        padding-bottom: 1rem;
        line-height: 30px;
    }

    .acerca-de__divP {
        width: 101.5%;
    }

    .acerca-de__p {
        font-size: 16px;
    }

    .acerca-de__p1 {
        width: 100%;
        font-size: 20px;
        font-weight: 400;
    }

    .asoc__back {
        background-color: black;
        transform: translate(-7px, -21px);
        width: 102.1%;
        height: 360vh;
    }

    .asoc__p {
        width: 100%;
        padding: 1rem;
        font-size: 10px;
    }

    .asoc__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .asoc__p2 {
        color: white;
        width: 100%;
        margin: 10px;
        padding: 1rem;
        font-size: 19px;
    }

    .image-container__impacto img {
        width: 100%;
        display: flex;
        transform: translate(0px, 15rem);
    }

    .image-title__impacto {
        transform: translate(-50%, 140%);
        font-size: 77px;
        line-height: 64px;
    }

    .image-container__impacto {
        width: 94%;
    }

    .donar__grid1 {
        width: 100%;
        font-size: 36px;
        line-height: 30px;
    }

    .donar__h1 {
        padding: 1rem;
        color: white;
        font-weight: 900;
        width: 100%;
        font-size: 24px;
    }

    .programm__h1 {
        width: 100%;
        font-size: 25px;
        line-height: 27px;
    }

    .programm__p {
        width: 100%;
    }

    .category-column {
        width: 100%;
    }

    .programm__li {
        font-size: 40px;
        letter-spacing: -3px;
    }

    .scroll-button {
        font-size: 20px;
    }

    .course {
        font-size: 20px;
    }

    .programm__button {
        width: 40%;
    }

    .eventos {
        margin: 0 auto;
        width: 100%;
        padding: 10rem 1rem 1rem;
    }

    .impacto__p {
        width: 100%;
        text-align: inherit;
        padding: 1rem;
    }

    .impacto__p1 {
        width: 100%;
        text-align: inherit;
        padding: 1rem;
    }

    .donar__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .donar__img {
        width: 100%;
        height: auto;
    }

    .donar__p {
        width: 100%;
    }

    .donar__button1 {
        width: 25%;
    }

    .donar__grid2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .two-column-layout {
        display: grid;
    }

    .category-column {
        width: 100%;
        padding: 2rem 0;
    }

    .courses-column {
        width: 100%;
        padding: 1rem 0;
    }

    .courses-ul {
        padding: 0;
    }

    .eventos__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .evento__button {
        width: 100%;
    }

    .eventos__grid2 {
        display: grid;
        grid-template-columns: 2fr;
    }

    .conectar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .conectar__span {
        display: flex;
        justify-content: flex-start;
    }

    .conectar__h1 {
        font-size: 50px;
        letter-spacing: -1px;
        width: 92%;
    }

    .conectar__grid {
        display: grid;
        width: 92%;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .color-button {
        width: 90%;
    }

    .conectar__coment {
        width: 90%;
    }

    .conectar__info {
        display: grid;
        grid-template-columns: 1fr;
        width: 94%;
        height: 26vh;
    }

    .conectar__nombre {
        width: 385px;
    }

    .conectar__email {
        width: px;
    }

    .conectar__enviar {
        width: 35%;
    }

    .footer__p {
        width: 100%;
    }

    .footer__copy {
        transform: translateY(265px);
    }

    .footer__nav nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .footer__nav {
        width: 75%;
        height: 28vh;
        transform: translateY(-18px, 165px);
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 460px) and (max-width: 550px) {
    .overlay-text {
        font-size: 88px;
        transform: translate(-51%, -220%);
    }

    .button-container {
        display: block;
        display: flex;
        justify-content: flex-end;
        margin: 10px;
    }

    /*  */

    .header {
        width: 100%;
    }

    .header__right {
        display: none;
    }

    .header__p {
        width: 100.7%;
        transform: translate(0px, 0px);
    }

    .header__a {
        transform: translate(-20px, 20px);
    }

    .header__p1 {
        color: white;
        width: 96%;
        transform: translate(0px, -109px);
    }

    .image-container {
        transform: translate(7px, -200px);
    }

    .acerca-de__h1- {
        font-size: 45px;
        padding-bottom: 1rem;
        line-height: 35px;
    }

    .acerca-de__divP {
        width: 101.6%;
    }

    .impacto__div{
        width: 100.7%;
    }

    .acerca-de__p {
        font-size: 16px;
    }

    .acerca-de__p1 {
        width: 100%;
        font-size: 20px;
        font-weight: 400;
    }

    .asoc__back {
        background-color: black;
        transform: translate(-7px, -21px);
        width: 102.1%;
        height: 360vh;
    }

    .asoc__p {
        width: 100%;
        padding: 1rem;
        font-size: 16px;
    }

    .asoc__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .asoc__p2 {
        color: white;
        width: 100%;
        margin: 10px;
        padding: 1rem;
        font-size: 19px;
    }

    .image-container__impacto img {
        width: 100%;
        display: flex;
        transform: translate(0px, 22rem);
    }

    .image-title__impacto {
        transform: translate(-50%, 123%);
        font-size: 92px;
        line-height: 77px;
    }

    .image-container__impacto {
        width: 94%;
    }

    .donar__grid1 {
        width: 100%;
        font-size: 36px;
        line-height: 30px;
    }

    .donar__h1 {
        padding: 1rem;
        color: white;
        font-weight: 900;
        width: 100%;
        font-size: 24px;
    }

    .programm__h1 {
        width: 100%;
        font-size: 25px;
        line-height: 27px;
    }

    .programm__p {
        width: 100%;
    }

    .category-column {
        width: 100%;
    }

    .programm__li {
        font-size: 40px;
        letter-spacing: -3px;
    }

    .scroll-button {
        font-size: 20px;
    }

    .course {
        font-size: 20px;
    }

    .programm__button {
        width: 40%;
    }

    .eventos {
        margin: 0 auto;
        width: 100%;
        padding: 10rem 1rem 1rem;
    }

    .impacto__p {
        width: 100%;
        text-align: inherit;
        padding: 1rem;
    }

    .impacto__p1 {
        width: 100%;
        text-align: inherit;
        padding: 1rem;
    }

    .donar__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .donar__img {
        width: 100%;
        height: auto;
    }

    .donar__p {
        width: 100%;
    }

    .donar__button1 {
        width: 25%;
    }

    .donar__grid2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .two-column-layout {
        display: grid;
    }

    .category-column {
        width: 100%;
        padding: 2rem 0;
    }

    .courses-column {
        width: 100%;
        padding: 1rem 0;
    }

    .courses-ul {
        padding: 0;
    }

    .eventos__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .evento__button {
        width: 100%;
    }

    .eventos__grid2 {
        display: grid;
        grid-template-columns: 2fr;
    }

    .conectar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .conectar__span {
        display: flex;
        justify-content: flex-start;
    }

    .conectar__h1 {
        font-size: 50px;
        letter-spacing: -1px;
        width: 92%;
    }

    .conectar__grid {
        display: grid;
        width: 92%;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .color-button {
        width: 90%;
    }

    .conectar__coment {
        width: 90%;
    }

    .conectar__info {
        display: grid;
        grid-template-columns: 1fr;
        width: 94%;
        height: 26vh;
    }

    .conectar__nombre {
        width: 385px;
    }

    .conectar__email {
        width: px;
    }

    .conectar__enviar {
        width: 35%;
    }

    .footer__p {
        width: 100%;
    }

    .footer__copy {
        transform: translateY(265px);
    }

    .footer__nav nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .footer__nav {
        width: 75%;
        height: 28vh;
        transform: translateY(-18px, 165px);
        display: block;
    }
}

@media(min-width: 550px) and (max-width: 660px) {
    .overlay-text {
        font-size: 88px;
        transform: translate(-51%, -224%);
    }

    .button-container {
        display: block;
        display: flex;
        justify-content: flex-end;
        margin: 10px;
    }

    /*  */

    .header {
        width: 100%;
    }

    .header__right {
        display: none;
    }

    .header__p {
        width: 100%;
        transform: translate(0px, 0px);
    }

    .header__a {
        transform: translate(-20px, 20px);
    }

    .header__p1 {
        color: white;
        width: 96%;
        transform: translate(0px, -109px);
    }

    .image-container {
        transform: translate(6px, -200px);
        width: 96%;
    }

    .acerca-de__h1- {
        font-size: 45px;
        padding-bottom: 1rem;
        line-height: 35px;
    }

    .acerca-de__divP {
        width: 101.6%;
    }

    .impacto__div{
        width: 100.7%;
    }

    .acerca-de__p {
        font-size: 18px;
    }

    .acerca-de__p1 {
        width: 100%;
        font-size: 20px;
        font-weight: 400;
    }

    .asoc__back {
        background-color: black;
        transform: translate(-7px, -21px);
        width: 102.1%;
        height: 360vh;
    }

    .asoc__p {
        width: 100%;
        padding: 1rem;
        font-size: 16px;
    }

    .asoc__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .asoc__p2 {
        color: white;
        width: 100%;
        margin: 10px;
        padding: 5rem;
        font-size: 19px;
    }

    .image-container__impacto img {
        width: 100%;
        display: flex;
        transform: translate(0px, 22rem);
    }

    .image-title__impacto {
        transform: translate(-50%, 103%);
        font-size: 93px;
        line-height: 90px;
    }

    .image-container__impacto {
        width: 94%;
    }

    .donar__grid1 {
        width: 100%;
        font-size: 55px;
        line-height: 50px;
    }

    .donar__h1 {
        padding: 1rem;
        color: white;
        font-weight: 900;
        width: 100%;
        font-size: 35px;
    }

    .programm__h1 {
        width: 100%;
        font-size: 60px;
        line-height: 50px;
    }

    .programm__p {
        width: 100%;
    }

    .category-column {
        width: 100%;
    }

    .programm__li {
        font-size: 40px;
        letter-spacing: -3px;
    }

    .scroll-button {
        font-size: 20px;
    }

    .course {
        font-size: 20px;
    }

    .programm__button {
        width: 40%;
    }

    .eventos {
        margin: 0 auto;
        width: 100%;
        padding: 10rem 1rem 1rem;
    }

    .impacto__p {
        width: 100%;
        text-align: inherit;
        padding: 1rem;
    }

    .impacto__p1 {
        padding: 2rem;
    }

    .donar__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .donar__img {
        width: 100%;
        height: auto;
    }

    .donar__p {
        width: 100%;
        padding: 5rem;
    }

    .donar__button1 {
        width: 15%;
    }

    .donar__grid2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .two-column-layout {
        display: grid;
    }

    .category-column {
        width: 100%;
        padding: 2rem 0;
    }

    .courses-column {
        width: 100%;
        padding: 1rem 0;
    }

    .courses-ul {
        padding: 0;
    }

    .eventos__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .evento__button {
        width: 100%;
    }

    .eventos__grid2 {
        display: grid;
        grid-template-columns: 2fr;
    }

    .conectar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .conectar__span {
        display: flex;
        justify-content: flex-start;
    }

    .conectar__h1 {
        font-size: 50px;
        letter-spacing: -1px;
        width: 92%;
    }

    .conectar__grid {
        display: grid;
        width: 92%;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .color-button {
        width: 90%;
    }

    .conectar__coment {
        width: 90%;
    }

    .conectar__info {
        display: grid;
        grid-template-columns: 1fr;
        width: 94%;
        height: 26vh;
    }

    .conectar__nombre {
        width: 385px;
    }

    .conectar__email {
        width: px;
    }

    .conectar__enviar {
        width: 35%;
    }

    .footer__p {
        width: 100%;
    }

    .footer__copy {
        transform: translateY(340px);
    }

    .footer__nav nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .footer__nav {
        width: 75%;
        height: 28vh;
        transform: translateY(-18px, 165px);
        display: block;
    }
}

@media(min-width: 660px) and (max-width: 760px) {
    .overlay-text {
        font-size: 103px;
        transform: translate(-51%, -224%);
    }

    .button-container {
        display: block;
        display: flex;
        justify-content: flex-end;
        margin: 10px;
    }

    /*  */

    .header {
        width: 100%;
    }

    .header__right {
        display: none;
    }

    .header__p {
        width: 100%;
        transform: translate(0px, 0px);
    }

    .header__a {
        transform: translate(-20px, 20px);
    }

    .header__p1 {
        color: white;
        width: 65%;
        transform: translate(0px, -109px);
    }

    .image-container {
        transform: translate(10px, -200px);
    }

    .acerca-de__h1- {
        font-size: 45px;
        padding-bottom: 1rem;
        line-height: 35px;
    }

    .acerca-de__divP {
        width: 100%;
    }

    .impacto__div{
        width: 100%;
    }

    .acerca-de__p {
        font-size: 20px;
    }

    .acerca-de__p1 {
        width: 100%;
        font-size: 20px;
        font-weight: 400;
        padding: 5rem;
    }

    .asoc__back {
        background-color: black;
        transform: translate(-7px, -21px);
        width: 101.1%;
        height: 360vh;
    }

    .asoc__p {
        width: 100%;
        padding: 5rem;
        font-size: 20px;
    }

    .asoc__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .asoc__p2 {
        color: white;
        width: 100%;
        margin: 10px;
        padding: 5rem;
        font-size: 19px;
    }

    .image-container__impacto img {
        width: 100%;
        display: flex;
        transform: translate(0px, 22rem);
    }

    .image-title__impacto {
        transform: translate(-50%, 93%);
        font-size: 113px;
        line-height: 98px;
    }

    .image-container__impacto {
        width: 94%;
    }

    .donar__grid1 {
        width: 100%;
        font-size: 55px;
        line-height: 50px;
    }

    .donar__h1 {
        padding: 1rem;
        color: white;
        font-weight: 900;
        width: 100%;
        font-size: 35px;
    }

    .programm__h1 {
        width: 100%;
        font-size: 60px;
        line-height: 50px;
    }

    .programm__p {
        width: 100%;
    }

    .category-column {
        width: 100%;
    }

    .programm__li {
        font-size: 40px;
        letter-spacing: -3px;
    }

    .scroll-button {
        font-size: 20px;
    }

    .course {
        font-size: 20px;
    }

    .programm__button {
        width: 40%;
    }

    .eventos {
        margin: 0 auto;
        width: 100%;
        padding: 10rem 1rem 1rem;
    }

    .impacto__p {
        width: 100%;
        text-align: inherit;
        padding: 5rem;
    }

    .impacto__p1 {
        padding: 5rem;
    }

    .donar__grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .donar__img {
        width: 100%;
        height: auto;
    }

    .donar__p {
        width: 100%;
        padding: 5rem;
    }

    .donar__button1 {
        width: 15%;
    }

    .donar__grid2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .two-column-layout {
        display: grid;
    }

    .category-column {
        width: 100%;
        padding: 2rem 0;
    }

    .courses-column {
        width: 100%;
        padding: 1rem 0;
    }

    .courses-ul {
        padding: 0;
    }

    .eventos__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .evento__button {
        width: 100%;
    }

    .eventos__grid2 {
        display: grid;
        grid-template-columns: 2fr;
    }

    .conectar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .conectar__span {
        display: flex;
        justify-content: flex-start;
    }

    .conectar__h1 {
        font-size: 50px;
        letter-spacing: -1px;
        width: 92%;
    }

    .conectar__grid {
        display: grid;
        width: 92%;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .color-button {
        width: 90%;
    }

    .conectar__coment {
        width: 90%;
    }

    .conectar__info {
        display: grid;
        grid-template-columns: 1fr;
        width: 94%;
        height: 26vh;
    }

    .conectar__nombre {
        width: 385px;
    }

    .conectar__email {
        width: px;
    }

    .conectar__enviar {
        width: 35%;
    }

    .footer__p {
        width: 100%;
    }

    .footer__copy {
        transform: translateY(340px);
    }

    .footer__nav nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .footer__nav {
        width: 75%;
        height: 28vh;
        transform: translateY(-18px, 165px);
        display: block;
    }
}

@media(min-width: 760px) and (max-width: 860px) {
    .overlay-text {
        font-size: 116px;
        transform: translate(-51%, -230%);
    }

    .button-container {
        display: block;
        display: flex;
        justify-content: flex-end;
        margin: 10px;
    }

    /*  */

    .header {
        width: 100%;
    }

    .header__right {
        display: none;
    }

    .header__p {
        width: 100%;
        transform: translate(0px, 0px);
    }

    .header__a {
        transform: translate(-20px, 20px);
    }

    .header__p1 {
        color: white;
        width: 65%;
        transform: translate(0px, -109px);
    }

    .image-container {
        transform: translate(10px, -200px);
    }

    .acerca-de__h1- {
        font-size: 45px;
        padding-bottom: 1rem;
        line-height: 35px;
    }

    .acerca-de__divP {
        width: 100.6%;
    }

    .impacto__div{
        width: 100%;
    }

    .acerca-de__p {
        font-size: 21px;
    }

    .acerca-de__p1 {
        width: 100%;
        font-size: 20px;
        font-weight: 400;
        padding: 5rem;
    }

    .asoc__back {
        background-color: black;
        transform: translate(-7px, -21px);
        width: 101%;
        height: 360vh;
    }

    .asoc__p {
        width: 100%;
        padding: 5rem;
        font-size: 20px;
    }

    .asoc__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .asoc__p2 {
        color: white;
        width: 100%;
        margin: 10px;
        padding: 5rem;
        font-size: 19px;
    }

    .image-container__impacto img {
        width: 100%;
        display: flex;
        transform: translate(0px, 22rem);
    }

    .image-title__impacto {
        transform: translate(-50%, 72%);
        font-size: 129px;
        line-height: 120px;
    }

    .image-container__impacto {
        width: 94%;
    }

    .donar__grid1 {
        width: 100%;
        font-size: 55px;
        line-height: 50px;
        margin: 0;
    }

    .donar__h1 {
        padding: 1rem;
        color: white;
        font-weight: 900;
        width: 100%;
        font-size: 35px;
    }

    .programm__h1 {
        width: 100%;
        font-size: 60px;
        line-height: 50px;
    }

    .programm__p {
        width: 100%;
    }

    .category-column {
        width: 100%;
    }

    .programm__li {
        font-size: 40px;
        letter-spacing: -3px;
    }

    .scroll-button {
        font-size: 20px;
    }

    .course {
        font-size: 20px;
    }

    .programm__button {
        width: 40%;
    }

    .eventos {
        margin: 0 auto;
        width: 100%;
        padding: 10rem 1rem 1rem;
    }

    .impacto__p {
        width: 100%;
        text-align: inherit;
        padding: 5rem;
    }

    .impacto__p1 {
        padding: 5rem;
    }

    .donar__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .donar__img {
        width: 100%;
        height: auto;
    }

    .donar__p {
        width: 100%;
        padding: 5rem;
        margin: 0;
    }

    .donar__button1 {
        width: 15%;
    }

    .donar__grid2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .two-column-layout {
        display: flex;
    }

    .category-column {
        width: 100%;
        padding: 2rem 0;
    }

    .courses-column {
        width: 100%;
        padding: 1rem 0;
    }

    .courses-ul {
        padding: 0;
    }

    .eventos__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .evento__button {
        width: 100%;
    }

    .eventos__grid2 {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .conectar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .conectar__span {
        display: flex;
        justify-content: flex-start;
    }

    .conectar__h1 {
        font-size: 50px;
        letter-spacing: -1px;
        width: 92%;
    }

    .conectar__grid {
        display: grid;
        width: 92%;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .color-button {
        width: 90%;
    }

    .conectar__coment {
        width: 90%;
    }

    .conectar__info {
        display: grid;
        grid-template-columns: 1fr;
        width: 94%;
        height: 26vh;
    }

    .conectar__nombre {
        width: 385px;
    }

    .conectar__email {
        width: px;
    }

    .conectar__enviar {
        width: 35%;
    }

    .footer__p {
        width: 100%;
    }

    .footer__copy {
        transform: translateY(220px);
    }

    .footer__nav nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .footer__nav {
        width: 75%;
        height: 28vh;
        transform: translateY(-18px, 165px);
        display: block;
    }
}

@media(min-width: 860px) and (max-width: 960px) {
    .overlay-text {
        font-size: 140px;
        transform: translate(-51%, -237%);
    }

    .button-container {
        display: block;
        display: flex;
        justify-content: flex-end;
        margin: 10px;
    }

    /*  */

    .header {
        width: 100%;
    }

    .header__right {
        display: none;
    }

    .header__p {
        width: 100%;
        transform: translate(0px, 0px);
    }

    .header__a {
        transform: translate(-20px, 20px);
    }

    .header__p1 {
        color: white;
        width: 65%;
        transform: translate(0px, -109px);
    }

    .image-container {
        transform: translate(10px, -200px);
    }

    .acerca-de__h1- {
        font-size: 45px;
        padding-bottom: 1rem;
        line-height: 35px;
    }

    .acerca-de__divP {
        width: 100.4%;
    }

    .impacto__div{
        width: 100%;
    }

    .acerca-de__p {
        font-size: 23px;
    }

    .acerca-de__p1 {
        width: 100%;
        font-size: 20px;
        font-weight: 400;
        padding: 5rem;
    }

    .asoc__back {
        background-color: black;
        transform: translate(-7px, -21px);
        width: 100.6%;
        height: 360vh;
    }

    .asoc__p {
        width: 100%;
        padding: 5rem;
        font-size: 20px;
    }

    .asoc__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .asoc__p2 {
        color: white;
        width: 100%;
        margin: 10px;
        padding: 5rem;
        font-size: 19px;
    }

    .image-container__impacto img {
        width: 100%;
        display: flex;
        transform: translate(0px, 22rem);
    }

    .image-title__impacto {
        transform: translate(-50%, 65%);
        font-size: 162px;
        line-height: 130px;
    }

    .image-container__impacto {
        width: 94%;
    }

    .donar__grid1 {
        width: 100%;
        font-size: 55px;
        line-height: 50px;
        margin: 0;
    }

    .donar__h1 {
        padding: 1rem;
        color: white;
        font-weight: 900;
        width: 100%;
        font-size: 35px;
    }

    .programm__h1 {
        width: 100%;
        font-size: 60px;
        line-height: 50px;
    }

    .programm__p {
        width: 100%;
    }

    .category-column {
        width: 100%;
    }

    .programm__li {
        font-size: 40px;
        letter-spacing: -3px;
    }

    .scroll-button {
        font-size: 20px;
    }

    .course {
        font-size: 20px;
    }

    .programm__button {
        width: 40%;
    }

    .eventos {
        margin: 0 auto;
        width: 100%;
        padding: 10rem 1rem 1rem;
    }

    .impacto__p {
        width: 100%;
        text-align: inherit;
        padding: 5rem;
    }

    .impacto__p1 {
        padding: 5rem;
    }

    .donar__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .donar__img {
        width: 100%;
        height: auto;
    }

    .donar__p {
        width: 100%;
        padding: 5rem;
        margin: 0;
    }

    .donar__button1 {
        width: 15%;
    }

    .donar__grid2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .two-column-layout {
        display: flex;
    }

    .category-column {
        width: 100%;
        padding: 2rem 0;
    }

    .courses-column {
        width: 100%;
        padding: 1rem 0;
    }

    .courses-ul {
        padding: 0;
    }

    .eventos__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .evento__button {
        width: 100%;
    }

    .eventos__grid2 {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .conectar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .conectar__span {
        display: flex;
        justify-content: flex-start;
    }

    .conectar__h1 {
        font-size: 61px;
        letter-spacing: -1px;
        width: 92%;
    }

    .conectar__grid {
        display: flex;
        width: 93%;
        justify-items: center;
        align-items: center;
    }

    .color-button {
        width: 90%;
    }

    .conectar__coment {
        width: 90%;
    }

    .conectar__info {
        display: grid;
        grid-template-columns: 1fr;
        width: 94%;
        height: 26vh;
    }

    .conectar__nombre {
        width: 385px;
    }

    .conectar__email {
        width: px;
    }

    .conectar__enviar {
        width: 35%;
    }

    .footer__p {
        width: 65%;
    }

    .footer__copy {
        transform: translateY(220px);
    }

    .footer__nav nav {
        display: flex;
        width: 100%;
    }

    .footer__nav {
        width: 100%;
        height: 28vh;
        transform: translateY(-18px, 165px);
        display: block;
    }
}

@media(min-width: 960px) and (max-width: 1070px) {
    .overlay-text {
        font-size: 156px;
        transform: translate(-51%, -237%);
    }

    .button-container {
        display: block;
        display: flex;
        justify-content: flex-end;
        margin: 10px;
    }

    /*  */

    .header {
        width: 100%;
    }

    .header__right {
        display: none;
    }

    .header__p {
        width: 100%;
        transform: translate(0px, 0px);
    }

    .header__a {
        transform: translate(-20px, 20px);
    }

    .header__p1 {
        color: white;
        width: 50%;
        transform: translate(0px, -109px);
    }

    .image-container {
        transform: translate(10px, -200px);
    }

    .acerca-de__h1- {
        font-size: 45px;
        padding-bottom: 1rem;
        line-height: 35px;
    }

    .acerca-de__divP {
        width: 100.4%;
    }

    .impacto__div{
        width: 100%;
    }

    .acerca-de__p {
        font-size: 23px;
    }

    .acerca-de__p1 {
        width: 80%;
        font-size: 20px;
        font-weight: 400;
        padding: 5rem;
    }

    .asoc__back {
        background-color: black;
        transform: translate(-7px, -21px);
        width: 100.6%;
        height: 360vh;
    }

    .asoc__p {
        width: 80%;
        padding: 5rem;
        font-size: 20px;
    }

    .asoc__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .asoc__p2 {
        color: white;
        width: 80%;
        margin: 10px;
        padding: 5rem;
        font-size: 19px;
    }

    .image-container__impacto img {
        width: 100%;
        display: flex;
        transform: translate(0px, 22rem);
    }

    .image-title__impacto {
        transform: translate(-50%, 53%);
        font-size: 180px;
        line-height: 150px;
    }

    .image-container__impacto {
        width: 94%;
    }

    .donar__grid1 {
        width: 100%;
        font-size: 80px;
        line-height: 70px;
        margin: 0;
    }

    .donar__h1 {
        padding: 1rem;
        color: white;
        font-weight: 900;
        width: 100%;
        font-size: 35px;
    }

    .programm__h1 {
        width: 100%;
        font-size: 90px;
        line-height: 70px;
    }

    .programm__p {
        width: 80%;
    }

    .category-column {
        width: 100%;
    }

    .programm__li {
        font-size: 40px;
        letter-spacing: -3px;
    }

    .scroll-button {
        font-size: 20px;
    }

    .course {
        font-size: 20px;
    }

    .programm__button {
        width: 40%;
    }

    .eventos {
        margin: 0 auto;
        width: 100%;
        padding: 10rem 1rem 1rem;
    }

    .impacto__p {
        width: 100%;
        text-align: inherit;
        padding: 5rem;
    }

    .impacto__p1 {
        padding: 5rem;
    }

    .donar__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .donar__img {
        width: 100%;
        height: auto;
    }

    .donar__p {
        width: 80%;
        padding: 5rem;
        margin: 0;
    }

    .donar__button1 {
        width: 8%;
    }

    .donar__grid2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .two-column-layout {
        display: flex;
    }

    .category-column {
        width: 100%;
        padding: 2rem 0;
    }

    .courses-column {
        width: 100%;
        padding: 1rem 0;
    }

    .courses-ul {
        padding: 0;
    }

    .eventos__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .evento__button {
        width: 100%;
    }

    .eventos__grid2 {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .conectar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .conectar__span {
        display: flex;
        justify-content: flex-start;
    }

    .conectar__h1 {
        font-size: 61px;
        letter-spacing: -1px;
        width: 92%;
    }

    .conectar__grid {
        display: flex;
        width: 93%;
        justify-items: center;
        align-items: center;
    }

    .color-button {
        width: 90%;
    }

    .conectar__coment {
        width: 90%;
    }

    .conectar__info {
        display: grid;
        grid-template-columns: 1fr;
        width: 94%;
        height: 26vh;
    }

    .conectar__nombre {
        width: 385px;
    }

    .conectar__email {
        width: px;
    }

    .conectar__enviar {
        width: 35%;
    }

    .footer__p {
        width: 65%;
    }

    .footer__copy {
        transform: translateY(220px);
    }

    .footer__nav nav {
        display: flex;
        width: 100%;
    }

    .footer__nav {
        width: 93%;
        height: 28vh;
        transform: translateY(-18px, 165px);
        display: block;
    }
}